:root {
  --main-bg-color: #0e1116;
  --secondary-bg-color: #22262d;

  --light-text-color: #f0f6fc;
  --secondary-text-color: #666671;

  --cta-button-color: #c5f74f;

  --input-text-color: #cbd1d7;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Inter-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Inter-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Inter-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Inter-Bold.ttf') format('opentype');
}

html {
  box-sizing: border-box;
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--main-bg-color);
  color: var(--light-text-color);
}

div#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
